<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História</title>
</head>
<body>
    <h1>História da Fatec de Sorocaba</h1>
    <p>A Fatec de sorocaba surgiu quando ela foi fundada.</p>
</body>
</html>