/*Fontes*/
@font-face {
    font-family: 'Titulo-Principal';
    src: url(./fonts/Kids\ Magazine.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Subtitulo-1';
    src: url(./fonts/Coolvetica\ Rg.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Subtitulo-2';
    src: url(./fonts/Roboto-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Paragrafos';
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/*Formatação Geral*/
html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;

    background: linear-gradient(to bottom, #cd88ff, #9a84fd);
}
h1{
    font-family: 'Titulo-Principal';
    margin: 10px;
}
h2{
    font-family: 'Subtitulo-1';
    font-size: 40px;
    margin-bottom: 0;
}

h1, h2{
    color: #5E3A8C;
    margin: 10px;
}

h3{
    font-family: 'Subtitulo-2';
    font-size: 25px;
    color: #7B4BB1;

    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

p{
    text-align: justify;
    font-family: 'Paragrafos';
}

/*Barra Navegação*/
header{
    padding-bottom: 10%;
}

.nav-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #42206e;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-decoration: none;
}

.nav-item{
    margin: 30px;
    list-style-type: none;
    font-size: 20px;
}
.nav-item a:active, .nav-item a:hover{    
    padding: 5px;
    color:#42206e;
    background-color: #9F4BFF;
    border-radius: 10px;
}

/*Sessão Animes*/
.container-animes{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'a a b b'
    'a a c c';
    margin: 10px;
}

.anime{
    background-color: #E3D9F7;
    border-radius: 10px;
}

.elements-anime{
    display: flex;
}

a{
    color: #9F4BFF;
    text-decoration: none;
    font-family: 'Paragrafos';
}
.anime a:hover{
   color: #7A1FFF;
}

.a{
    grid-area: a;
    padding: 10px;
}
.a img{
    margin-right:10px;
}

.b{
    grid-area: b;
    padding: 10px;
}
.b img{
    margin-right: 10px;
}
.b a{
    padding: 15%;
}

.c{
    grid-area: c;
    padding: 10px;
}
.c img{
    margin-right: 10px;
}

/*Sessão Mangá*/
.container-manga{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    'd d d f g'
    'e e e f g';
    margin: 10px;
}

.manga{
    background-color: #E3D9F7;
    border-radius: 10px;
}
.manga h3{
    text-align: left;
}

.elements-manga{
    display: flex;
}

.d{
    grid-area: d;
    padding: 10px;
}
.d img{
    margin-right: 10px;
    margin-top: 10px;
}

.e{
    grid-area: e;
    padding: 10px;
}
.e img{
    margin-right: 10px;
    margin-top: 10px;
}

.f{
    grid-area: f;
    padding: 10px;
}
.f img{
    margin-right: 10px;
}

.g{
    grid-area: g;
    padding: 10px;
}
.g img{
    margin-right: 10px;
}

/*Sessão Games*/
.container-games{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    'h i j k'
    'h i j k';
    justify-content: center;
    margin: 10px;
}
.elements-game{
    text-align: center;
}

.game{
    background-color: #E3D9F7;
    border-radius: 10px;
}

.h{
    grid-area: h;
    padding: 10px;
}

.i{
    grid-area: i;
    padding: 10px;
}

.j{
    grid-area: j;
    padding: 10px;
}

.k{
    grid-area: k;
    padding: 10px;
}
