/*Configuração Principal*/
html, body{
    height: 100%;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    margin: 0;
    padding: 0;

    background-color: #23241a;
}
header{
    padding-bottom: 7%;
}

/*Barra Navegação*/
nav{
    width: 100%;
    top: 0;
    background-color: #244E30;
    position: fixed;

}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0% 5%;

}
.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    width: 80%;
}
.menu-item{
    padding: 2% 5%;
    list-style-type: none;
}
.menu-item a{
    color: #FFFFFF;
}
.login-cadastro{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: right;
}
.login-cadastro button{
    margin: 2%;
}