@font-face {
    font-family: 'Texto-normal';
    src: url(./fonts/FormaleScript_PERSONAL_USE_ONLY.otf);
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #b10f2e;
}

h1, h2, h3{
    font-family: 'Texto-normal';
}

.nav-menu-item{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: auto;
    margin: 20px;
    background-color: #280000;
    border-radius: 10px;
}

.nav-item{
    margin: 10px;
    list-style-type: none;
}

.nav-link{
    color: white;
}

.home-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#foto-moriarty{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
}