/*Configurações Gerais*/
@font-face {
    font-family: 'H1';
    src: url(./fonts/FormaleScript_PERSONAL_USE_ONLY.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'h2-subtitulo';
    src: url(./fonts/Valestine.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'h3';
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --corprincipal: rgb(254, 220, 210);
    --cortitulo1:#42000f;
    --cortitulo2: rgb(234, 38, 38);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #a31818;
    color: var(--corprincipal);
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'H1';
    font-size: 70px;
    text-align: center;
    color: var(--cortitulo1);
}

h2{
    font-family: 'h2-subtitulo';
    font-size: 50px;
    margin: 0px;
    color: var(--cortitulo1);
}
h3{
    font-family: 'h3';
    font-size: 20px;
    margin: 0px;
    border: 0;
    padding: 0;
    color:var(--cortitulo1);
}


p, pre, li, dt, dd, th, td, q{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container-geral{
    margin: 0px 10px;
}

/*Barra de Navegalão + Home*/
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 60px;
    overflow: hidden;
    background-color: #ee7272;
}
.home-data{
    margin: auto;
    float: left;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right:100px;
}
.home-img{
    margin: auto;
}

.home-title{
    margin-bottom: 20px;
    color: #6d0202;
}

.header-1{
    display: inline;
}

.nav-menu-item{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 60px;
    width:100%;
    margin: 0px;
    background-color: #360000;
    text-decoration: none;
}

.nav-item{
    margin: 10px;
    list-style-type: none;
}

.nav-link:active, .nav-link:hover{
    color: #360000;
    background-color: #ffb9b9;
    border-radius: 5px;
}

.nav-link{
    color: #ffb9b9;
    text-decoration: none;
}

.home-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#foto-moriarty{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.container-geral{
    padding: 20px
}

/*Sessão Sobre*/
#about{
    background-color: #c12828;
}

/*Sessão Formação*/
#formarion{
    background-color: #6d0202;
    color: var(--corprincipal)
}
#title-formacao, .formation-subtitle{
    color: var(--cortitulo2);
}

/*Sessão Habilidades*/
#skills{
    background-color: #c12828;
}

.skills-container2{
    display: flex;
    align-items: center;
}

/*Sessão Projeos*/
.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.icon{
    color: rgb(254, 220, 210);
    size: 15px;
    padding: 15px
}