@font-face {
    font-family: 'H1';
    src: url(./fonts/FormaleScript_PERSONAL_USE_ONLY.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'h2-subtitulo';
    src: url(./fonts/Valestine.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'h3';
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --corprincipal: rgb(254, 220, 210);
    --cortitulo:rgb(66, 0, 15);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #b10f2e;
    color: var(--corprincipal);
    margin: 0;
}

h1{
    font-family: 'H1';
    font-size: 60px;
    text-align: center;
    color: var(--cortitulo);
}

.home{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 10%;
}
.home-data{
    margin: auto
}
.home-img{
    margin: auto;
}

.header-1{
    display: inline
}

h2{
    font-family: 'h2-subtitulo';
    font-size: 50px;
    margin: 0px;
    color: var(--cortitulo);
}
h3{
    font-family: 'h3';
    font-size: 20px;
    margin: 0px;
    border: 0;
    padding: 0;
    color:var(--cortitulo);
}


p, pre, li, dt, dd, th, td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.nav-menu-item{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 60px;
    width:100%;
    margin: 0px;
    background-color: #280000;
    text-decoration: none;
}

.nav-item{
    margin: 10px;
    list-style-type: none;
}

.nav-link{
    color: white;
}

.home-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#foto-moriarty{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.icon{
    color: rgb(254, 220, 210);
    size: 15px;
    padding: 15px
}